---
layout: default
title: Blog Posts
---

<div id="home">
    <div class="h-feed">
        <h2 class="p-name"><i class="fa fa-comments-o"></i> Presentations</h2>

        <ul id="presentations" class="posts">
            {% for presentation in site.data.presentations %}
            <li class="h-feed">
                <span>
                    <time class="dt-published" datetime="{{ presentation.date }}">{{ presentation.date }}</time>
                    &raquo;</span>
                <a href="{{ presentation.url }}" class="u-url p-name">{{ presentation.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <hr />

    <div class="h-feed">
        <h2 class="p-name"><i class="fa fa-paragraph"></i> Blog Posts</h2>

        <ul id="blog-posts" class="posts">
            {% for post in site.posts %}
            <li class="h-feed">
                <span>
                    <time class="dt-published" datetime="{{ post.date }}">{{ post.date | date_to_string }}</time>
                    &raquo;</span>
                <a href="{{ post.url }}" class="u-url p-name">{{ post.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
