<nav itemscope itemtype="https://schema.org/Person">
    <meta itemprop="url" content="{{ site.url }}">
    <h2>Hi, I'm
        <address style="display:inline" class="author vcard"
            <a href="{{ site.url }}" class="h-card url" rel="me">
                <span class="fn"
                      itemprop="name">
                    {{ site.data.theme.name }}
                </span>
            </a>
            .</h2>
        </address>
        <span id="social">
            {% include social.html %}
        </span>
</nav>
