---
---
{% include css/font-awesome.css %}
{% include css/base.css %}
{% include css/skeleton.css %}
{% include css/screen.css %}
{% include css/layout.css %}
{% include css/syntax.css %}

#post p {
  line-height: 1.6em;
  font-family: 'Open Sans Light';
  font-size: 1.3em;
}

#related li {
    font-family: 'Open Sans Light';
    font-weight: bold;
    font-size: 1.1em;
}

#post li {
    line-height: initial;
    margin-bottom: 0.5em;
    font-size: 1.2em;
    margin-left: 0.8em;
    font-family: 'Open Sans Light';
}

#post > ul {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}

#post li a,
#post p a {
    font-weight: bold;
}

#post h1:nth-child(n+2),
#post h2, #post h3,
#post h4, #post h5, #post h6 {
    color: #333;
    padding-top: 1em;
    padding-bottom: 0.4em;
}

#post h1 {
    color: #222;
}

#social {
    text-align: center;
}

@media only screen and (max-width: 959px) {
  ul.posts span {
    display: block;
  }
  ul.posts li {
    margin: 10px 0;
  }
}

::selection {
    background-color: darkorchid;
    color: white;
}
