---
layout: default
---

<article class="h-entry hentry">
<p class="meta">
    <time class="dt-published published" datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
    -
    <a href="{{ site.url }}" class="p-author h-card author" rel="author">{{ site.data.theme.name }}</a>
    <a href="/">
        <i class="home fa fa-home"></i>
    </a>
</p>

<h1 class="title p-name entry-title">
    <a href="{{ page.url }}" class="u-url bookmark" rel="bookmark">
        {{ page.title }}
    </a>
</h1>

<div id="post" class="e-content entry-content">
    {{ content }}
</div>

<aside id="related">
    <h3>Related Posts</h3>
    <ul class="posts h-feed">
        {% for post in site.related_posts limit:3 %}
        <li class="h-entry">
            <span>
                <time class="dt-published" datetime="{{ post.date }}">{{ post.date | date_to_string }}</time> &raquo;
            </span>
            <a href="{{ post.url }}" class="u-url">
                <span class="p-name">{{ post.title }}</span>
            </a>
        </li>
        {% endfor %}
    </ul>
</aside>
</article>
